# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
.venv
venv/
ENV/

# Chrome driver
*.log
chromedriver*

# IDE
.vscode/
.idea/

# Output files
*.csv
page_source.html